@import '../../sass/utilities/variables';
@import '../../sass/utilities/mixins';

section:not(:first-of-type) {
  @include padding-y(1rem, 1.5rem);
}

.hero {
  .hero-img {
    position: relative;
    z-index: 1;
    padding: 1rem 1.5rem;
    background: url('../../assets/hero.png') no-repeat center center / cover;
    height: 60vh;

    .hero-text {
      position: absolute;
      width: 80%;
      top: 50%;
      left: 50%;
      text-align: center;
      @include transform-translate(-50%, -50%);

      p {
        font-size: 1.3rem;
        color: $white;
      }
    }
  }

  .hero-genres {
    background-color: $black;
    @include padding-y(1rem, 1.5rem);

    .genre-list {
      white-space: nowrap;
      overflow-x: auto;
      padding-bottom: 1rem;

      .genre-item {
        display: inline-block;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.06);
        padding: 1rem;
        cursor: pointer;
        @include square(140px, 12px);

        .genre-content {
          @include flex(center, center, column, 1rem);

          .genre-img {
            padding-bottom: 0.5rem;
            @include square(58px);
          }

          .genre-text {
            color: $white;
            @include transition-easeinout(0.25s);
            @include text-capitalize(0.85rem, 600);
          }
        }

        &:not(:last-of-type) {
          margin-right: 1rem;
        }

        &:hover {
          .genre-text {
            color: $light-purple;
          }
        }
      }

      &::-webkit-scrollbar {
        width: 0;
        height: 6px;
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $gray;
        border-radius: 7px;

        &:hover {
          background-color: $dark-gray;
        }
      }
    }
  }
}

.new-and-trending {
  overflow: auto;

  .top-list {
    min-width: 960px;

    .list-item {
      background-color: rgba(255, 255, 255, 0.06);
      border-radius: 7px;
      padding: 1rem 1.3rem;

      h2 {
        @include text-capitalize(1.3rem, 400);
      }
    }
  }
}

.discover-games {
  .row {
    @include respond-to('medium') {
      gap: 1.5rem;
    }

    .discover-item {
      display: block;
      color: $white;
      background-color: rgba(255, 255, 255, 0.06);
      border-radius: 5px;
      overflow: hidden;
      @include transition-easeinout(0.25s);

      .discover-img-container {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 56.25%;

        .discover-img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
        }
      }

      .discover-text {
        padding: 1rem 1.2rem;
        @include flex(inherit, flex-start, column, 0.8rem);

        .discover-name {
          letter-spacing: 1px;
          @include text-capitalize(calc(1.1rem + 0.3vw), 700);
        }

        .discover-platforms {
          @include flex(inherit, center, row, 0.5rem);

          span {
            font-size: 1.1rem;
          }
        }

        .discover-price {
          @include flex(inherit, center, row, 0.7rem);

          .discover-discount {
            background-color: $purple;
            padding: 3px 10px;
            border-radius: 3px;
            font-weight: 700;
          }

          .new-price {
            font-size: 1.2rem;
          }

          .old-price {
            color: $gray;
            font-size: 0.9rem;
            text-decoration: line-through;
          }
        }
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.15);
      }
    }
  }
}
