.logo {
  display: inline-block;
  background-color: $white;
  border: 3px solid $purple;
  padding: 5px;
  @include square(60px, 50%);

  &.menu-logo {
    padding: 3px;
    @include square(40px, 50%);
  }
}

.main-content {
  padding-top: 61px;
}

.title {
  color: $white;
  letter-spacing: 0.5px;
  @include text-capitalize(1.15rem, 700);
  @include padding-y(0.5rem, 1rem);
}

.carousel-container {
  margin-left: -0.7rem;
  margin-right: -0.7rem;
}
